.signs {
  margin-top: 2rem;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  .sign {
    flex-basis: 22%;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    width: 35px;
    // height: 30px;
    img {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      color: black;
    }
    &:hover {
      cursor: pointer;
      background: #91a3fb;
    }
    &.active {
      background: #91a3fb;
    }
  }
  @media screen and (max-width: 480px) {
    .sign {
      flex-basis: 30%;
    }
  }
  @media screen and (max-width: 360px) {
    gap: 0.5rem;
  }
}
